extends layout

block content
  
  if locals.user
    body
    .row(style="background: rgb(221, 226, 228)")
      // Header
      .col-sm-4
      .col-sm-4
        .header
          h1#h1 Issue Tracker
      .col-sm-4
        .dropdown.float-right.dropleft
          button#profile-menu.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            img(src=locals.user.picture width="40" height="40")
            span.caret
          .dropdown-menu(aria-labelledby="profile-menu")
            p You're logged in as:
            a.dropdown-item(href="#") #{locals.user.nickname}
            a.dropdown-item(href="/user") Profile
            a.dropdown-item(href="/logout") Logout
    .row
    // The flexible grid (content)
    .row
      .col-sm-2
      .col-sm-8
        .main
          .navbar
            .container
              //.col-sm-2
              .col-sm-7
                input#fiInput(type="text" onkeyup="fiFunction()" placeholder="Search descriptions.." title="Type in a name")
              .col-sm-5
                .dropdown.float-right
                  .btn-group
                    button#status-dd.btn.btn-secondary.dropdown-toggle.btn-sm(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                      | Status
                    .dropdown-menu(aria-labelledby="status-dd")
                      each status in statuses
                         a#status-item.dropdown-item(href="#") #{status.name} 
                      .dropdown-divider
                      a#status-all.dropdown-item(href="#") All Statuses
          table#iTable.table.table-hover
            thead
              tr
                th Name
                th Description
                th Status
            tbody
              each item in issue_list
                tr
                  td
                    a(href=item.url) #{item.title}
                  td
                    |   #{item.description}
                  td
                    |   #{item.status.name}
              else
                li There are no issues.
      .col-sm-2
    script.

      // Reload table after Status filter
      $('.dropdown-menu #status-all').on('click', function(){
        //reload table from cache (use true to reload from server)
        location.reload(false);
      })

      // Status dropdown-menu filter
      $('.dropdown-menu #status-item').on('click', function(){
        var filter, table, tr, td, i, txtValue;
        filter = this.innerHTML.toUpperCase().trim();
        table = document.getElementById("iTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[2];
          txtValue = td.innerHTML.toUpperCase().trim();
          if (td) {       
            if (filter===txtValue) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }      
        }
      })
      
      // Search box filter
      function fiFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("fiInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("iTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }