extends layout

block content

  h1 #{title}: #{issue.title}
  p Reporter: #{issue.reporter.name}
  p Description: #{issue.description}

  p Do you really want to delete this issue?

    form(method='POST' action='')
      div.form-group
        input#issueid.form-control(type='hidden',name='issueid', required='true', value=issue._id )

      button.btn.btn-primary(type='submit') Delete