extends layout

block content
  h1 Title: #{issueinstance.title}

  p Description: #{issueinstance.description}

  p Created: #{issueinstance.created_formatted}

  p Reporter: #{issueinstance.reporter.name}

  hr
  p
    a(href=issueinstance.url+'/delete') Delete issue
  p
    a(href=issueinstance.url+'/update') Update issue