//-tabContent.pug
.tab-content
    // removed "fade in" from tab-pane class because it is buggy. Content fails to show on reload with "fade in"
    #issues.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="issues-tab")
        .row
            #filter-search-row.col-md-8.offset-md-2.filter-search-row
                .input-group.mb-2.input-group-sm
                    .input-group-prepend
                        button.btn.btn-outline-secondary.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") filters
                        .dropdown-menu
                            a.dropdown-item(href="#") Open issues
                            a.dropdown-item(href="#") My issues
                            a.dropdown-item(href="#") Assigned to me
                    input.form-control(type="search" placeholder="search ..." aria-label="Text input with dropdown button")
        .row
            .col-md-8.offset-md-2
                nav#tableNavBar.navbar.navbar-expand-sm.table-filters
                    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                        ul.navbar-nav.ml-auto
                            li.nav-item.dropdown
                                a#statusDropdown.nav-link.dropdown-toggle.py-0(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    | Status
                                .dropdown-menu.py-0(aria-labelledby="statusDropdown")
                                    each status in statuses
                                        a.dropdown-item(href="#") #{status.name}
                                    else
                                        li No Statuses
                                    //-a.dropdown-item(href="#") Open
                                    //-a.dropdown-item(href="#") In-progress
                                    //-a.dropdown-item(href="#") Closed
                                    //-a.dropdown-item(href="#") Reopened
                                    .dropdown-divider
                                    a.dropdown-item(href="#") All
                            li.nav-item.dropdown
                                a#authorDropdown.nav-link.dropdown-toggle.py-0(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    | Author
                                .dropdown-menu.py-0(aria-labelledby="authorDropdown")
                                    each user in users
                                        a.dropdown-item(href="#") #{user.name}
                                    else
                                        li No Authors 
                                    //-a.dropdown-item(href="#") JohnDoe
                                    //-a.dropdown-item(href="#") dawgner
                                    //-a.dropdown-item(href="#") suzieQ
                                    //-a.dropdown-item(href="#") janedoe
                                    //-a.dropdown-item(href="#") bubba
                                    .dropdown-divider
                                    a.dropdown-item(href="#") All
                            li.nav-item.dropdown
                                a#assigneeDropdown.nav-link.dropdown-toggle.py-0(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    | Assignee
                                .dropdown-menu.py-0(aria-labelledby="assigneeDropdown")
                                    each user in users
                                        a.dropdown-item(href="#") #{user.name}
                                    else
                                        li No Assignees
                                    //-a.dropdown-item(href="#") JohnDoe
                                    //-a.dropdown-item(href="#") dawgner
                                    //-a.dropdown-item(href="#") suzieQ
                                    //-a.dropdown-item(href="#") janedoe
                                    //-a.dropdown-item(href="#") bubba
                                    .dropdown-divider
                                    a.dropdown-item(href="#") All
                            li.nav-item.dropdown
                                a#sortDropdown.nav-link.dropdown-toggle.py-0(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    | Sort
                                .dropdown-menu.py-0(aria-labelledby="sortDropdown")
                                    a.dropdown-item(href="#") Newest
                                    a.dropdown-item(href="#") Oldest
                                    a.dropdown-item(href="#") Recently updated
                                    a.dropdown-item(href="#") Least recently updated
                                    a.dropdown-item(href="#") Most commented
                                    a.dropdown-item(href="#") Least commented
        .row
            .col-md-8.offset-md-2
                table#issuesTable.table.table-hover.table-bordered(style="width:100%;")
                    thead
                        tr
                            th Summary
                    tbody
                        each issue in issues
                            tr
                                td
                                    a#issueTitle(href="/issueDetails/" + issue._id) #{issue.title} 
                                    pre.
                                        #{issue.title} #{issue.category.name} #{issue.priority.name}
                        else
                            li There are no issues.
    #newissue.tab-pane.fade(role="tabpanel" aria-labelledby="newissue-tab")
        form(method="POST" action="/newissue" enctype="multipart/form-data")
            .row
                .col-md-6.offset-md-2.new-issue-form
                    .form-group
                        label(for="newIssueTitle") Title
                        input#newIssueTitle.form-control(type="text" placeholder="Issue title ..." name='title' required='true')
                    .form-group
                        label(for="newIssueDescription") Description
                        textarea#newIssueDescription.form-control(rows="10" placeholder="description" name='description' required='true')
                    div
                    .custom-file.mb-3
                        input#file.custom-file-input(type="file" name="file" multiple)
                        label.custom-file-label(for="file") Choose File (limit three)
                        //-input#filepond(type="file" name="filepond" class="filepond" data-max-files="3" multiple)
                        //-.form-group.mt-4
                        button.btn.btn-success(type="submit") Create New Issue
                .col-md-2.new-issue-form.input-group.mb-3
                    .form-group.mb-3
                        label(for="category") Category
                        select#category.form-control(type='select', placeholder='Category ...' name='category' required='true')
                            option(selected="") Category...
                                each category in categories
                                    option(value=category._id) #{category.name}
                                else
                                    li No Categories
                    .form-group.mb-3
                        label(for="priority") Priority
                        select#priority.form-control(type='select', placeholder='Priority ...' name='priority')
                            option(selected="") Priority...
                                each priority in priorities
                                    option(value=priority._id) #{priority.name}
                                else
                                    li No priorites
                    .form-group.mb-3
                        label(for="assignee") Assignee
                        select#assignee.form-control(type='select', placeholder='Assignee ...' name='assignee')
                            option(selected="") Assignee...
                                each assignee in users
                                    option(value=assignee._id) #{assignee.name}
                                else
                                    li No Assignees
                    .form-group.mb-3
                        label(for="milestone") Milestone
                        select#milestone.form-control(type='select', placeholder='Milestone ...' name='milestone')
                            option(selected="") Milestone...
                                each milestone in milestones
                                    option(value=milestone._id) #{milestone.name}
                                else
                                    li No Milestones
                    .form-group.mb-3
                        label(for="project") Project
                        select#project.form-control(type='select', placeholder='Project ...' name='project')
                            option(selected="") Project...
                                each project in projects
                                    option(value=project._id) #{project.name}
                                else
                                    li No Projects
                    .form-group.mb-3
                        label(for="status") Status
                        select#status.form-control(type='select', placeholder='Status ...' name='status')
                            option(selected="") Status...
                                each status in statuses
                                    option(value=status._id) #{status.name}
                                else
                                    li No Statuses
    #milestones.tab-pane.fade.col-md-8.offset-md-2(role="tabpanel" aria-labelledby="milestones-tab")
        h3 Milestones
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            | labore et dolore magna aliqua.
    #settings.tab-pane.fade.col-md-8.offset-md-2(role="tabpanel" aria-labelledby="settings-tab")
        .project-settings
            div
                label(for="projecSettings")
                    b
                        h3 Project Settings
            form.form-group
                label(for="projectCreate")
                    b Create New Project
                .input-group.mb-3
                    .input-group-prepend
                        button.btn.btn-success(type="button" onclick="newProjectAlert()") Create
                    input.form-control(type="text" placeholder="Project name..." aria-label="" aria-describedby="projectCreate")
                label(for="projectSelect")
                    b Delete Project
                .input-group.mb-4
                    .input-group-prepend
                        button.btn.btn-danger(type="button" onclick="deleteProjectAlert()") Delete
                    select#projectSelect.custom-select
                        option(selected="") Choose project...
                        option(value="1") Project1
                        option(value="2") Project2
                        option(value="3") Project3
            hr
        .milestone-settings
            div
                label(for="milestoneSettings")
                    b
                        h3 Milestone Settings
            form.form-group
                label(for="milestoneCreate")
                    b Create New Milestone
                .input-group.mb-3
                    .input-group-prepend
                        button.btn.btn-success(type="button" onclick="newMilestoneAlert()") Create
                    input.form-control(type="text" placeholder="Milestone name..." aria-label="" aria-describedby="milestoneCreate")
                label(for="milestoneSelect")
                    b Delete Milestone
                .input-group.mb-4
                    .input-group-prepend
                        button.btn.btn-danger(type="button" onclick="deleteMilestoneAlert()") Delete
                    select#milestoneSelect.custom-select
                        option(selected="") Choose milestone...
                        option(value="1") Milestone1
                        option(value="2") Milestone2
                        option(value="3") Milestone3
            hr